<div class="modal fade" id="enterEmail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title">Zadaj mail</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="mail-pre-send">
            <h5>Zadaj mail</h5>
            <input type="email" name="input-mail" id="input-mail" required>
          </div>
          <div id="mail-sending" style="display: none;">
            <!-- loading circle from: https://codepen.io/splitti/pen/jLZjgx -->
            <svg id="progress_loader" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" xml:space="preserve">
              <circle id="loader-circle" cx="50" cy="50" r="46" fill="transparent" />
              <polyline id="loader-tick" points="25,55 45,70 75,33" fill="transparent" />
            </svg>
          </div>
          <div id="mail-sent-fail" style="display: none;">
            Nepodarilo sa odoslať mail :&#40;
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="sendMail">Odoslať</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="../static/js/loading_bar.js"></script> -->