<!DOCTYPE html>
<html lang = "en">
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>   
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
      <link rel="stylesheet" href="../static/style.css">
   </head>
   <body>
        <div class="container cont-main-page">
            <h1>Storkoprístroj 3000</h1>

            <div id="create-stories-form">
                <form>
                    <label for="site">Vyber si stránku:</label>
                    <select id="site" name="site">
                        <option value="ht">Hashtag</option>
                        <option value="pe">Plní Elánu</option>
                    </select>
                    <div id="links-articles">
                        <label for="articles"> Vlož odkazy na články:</label>
                        <input type="text" id="article-link1" name="article-link1" class="article-link">
                    </div>
                    <button type="button" onclick="addInput()" class="add-more-button">+</button>
                    <button type="button" id="create">Vytvor storky</button>
                </form>
            <div>
        </div>
        
       <script>
           $(document).ready(function(){
               $("#create").click(function(){
                    var site = $('#site').val();
                   $.ajax({
                       type: 'GET',
                       url: '/create',
                       data: { 'option': site },
                       success: function(response) {
                           console.log(response);
                           window.location.href = response.redirect_url;
                       }
                   });
               });
           });

            function addInput() {
                var container = document.getElementById('links-articles');
                var count = container.children.length; - 1

                var input = document.createElement('input');
                input.type = 'text';
                input.className = 'article-link';
                input.id = 'article-link' + count;
                input.name = 'article-link' + count;
                container.appendChild(input);
            }
       </script>
   </body>   
</html>