body {
    background-color: #f4f4f4; /* Optional background color */
    justify-items: center;
    button {
        background-color: #6FA1D1;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: #4B8AC9;
        }
    }
}

.cont-main-page{
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // align-self: center;
    min-height: 100vh;
    // height: 100%;
    width: 80%;
    margin: auto;
    padding: 50px 0;
    // border:1px solid red;

    h1 {
        font-family: 'Arial', sans-serif;
        color: #333;
    }

    #create-stories-form{
        form {
            margin-top: 20px; /* Adjust the margin as needed */
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
            label {
                display: block;
                margin-bottom: 10px;
            }
        
            select {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                box-sizing: border-box;
            }
            input[type="text"]{
                border: 1px solid #ddd;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                transition: border-color 0.3s, box-shadow 0.3s;
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px;
                &:hover{
                    border-color: #007BFF;
                    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
                }
            }
        }
        #links-articles{
            .article-link{
                display: block;
                margin: 10px 0;
            }
        }
        .add-more-button {
            background-color: #c1d1e0;
            display: block;
            margin: auto;
            margin-bottom: 10px;
            color: #656c74;
            font-weight: bolder;
            border: none;
            padding: 4px 10px;
            font-size: 16px;
            border-radius: 4px;
            transition: background-color 0.3s;
            &:hover{
                background-color: #6FA1D1;
                color: #fff;
            }
        }
    }
    
    #stories-container{
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    
        .story{
            display: flex;
            align-items: center;

            .story-image {
                width: 300px;
                max-width: 100%;
                // height: auto;
                display: block;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                // margin: 20px auto;
            }
    
            .metadata {
                width: 500px;
                margin-bottom: 20px;
                margin-right: 50px;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-weight: bold;
                }                
                input[type="text"],
                textarea {
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: border-color 0.3s, box-shadow 0.3s;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    &:hover{
                        border-color: #007BFF;
                        box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
                    }
                }
                input[type="text"]{
                    width: 100px;
                }
            }
        }
    }
}


