<!DOCTYPE html>
<html lang = "en">
   <head>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>   
      <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/loading_circle.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
        <div class="header">
            <li>
                <ul class="login_button"><button type="button" id="loginButton" data-toggle="modal" data-target="#loginWindow">Sign In</button></ul>
            </li>
        </div>
        <div class="container cont-main-page">
            <h1>Storkoprístroj 3000</h1>

            <div id="create-stories-form">
                <form>
                    <label for="site">Vyber si stránku:</label>
                    <select id="site" name="site">
                        <option value="ht">Hashtag</option>
                        <option value="pe">Plní Elánu</option>
                    </select>
                    <div id="links-articles">
                        <label for="articles"> Vlož odkazy na články:</label>
                        <input type="text" id="article-link1" name="article-link1" class="article-link">
                    </div>
                    <button type="button" onclick="addInput()" class="add-more-button">+</button>
                    <div id="date-selector">
                        <label>Články zo dňa:</label>
                        <input type="date" name="date-picker" id="postsFromDate">
                    </div>
                    <div id="posts-number-selector">
                        <div class="all-posts-check">
                            <label>Všetky články:</label>
                            <input type="checkbox" id="allPostsCheckbox" checked>
                        </div>
                        <div class="number-of-posts" id="postsNumber">
                            <label>Počet článkov:</label>
                            <input type="number" id="inputPostsNum">
                        </div>
                    </div>
                    <button type="button" id="create">Vytvor storky</button>
                </form>
            <div>
            {% include 'loading_modal.html' %}
            {% include 'login_modal.html' %}
        </div>
        
       <script src="../static/js/req_create_posts.js"></script>
       <script src="../static/js/feat_create_posts.js"></script>
   </body>   
</html>