<div class="modal fade" id="loginWindow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title">Zadaj mail</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <p align="center">
                <a href="/login/facebook/">
                <img id="facebook"
                   src="https://scontent.fksc1-1.fna.fbcdn.net/v/t39.2365-6/294967112_614766366879300_4791806768823542705_n.png?_nc_cat=105&ccb=1-7&_nc_sid=e280be&_nc_ohc=tDOD4kz3fH8AX-Xdti_&_nc_ht=scontent.fksc1-1.fna&oh=00_AfCaVfOD0ANVBLLhBeyTpGftKvnjB9ShoLq_Xg4DbR-BXQ&oe=65E36B24"
                   width="200px"
                   alt="Facebook"> <br>
                </a>
             </p>
          </div>
      </div>
    </div>
  </div>

  <!-- <script src="../static/js/loading_bar.js"></script> -->